{% extends "base.html" %}
{% load static %}
{% block login %}
<div class="container">
    <div class="login-container container mt-5">
      
        <div class="row">
            <div class="col">
                <img src="{% static "img/logo_light.png" %}" alt="" width="150">
            </div>
        </div>
        <!-- Formulário de Login -->
        <form action="{% url "login" %}" method="post">

            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="username" placeholder="Usuário" required name="username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Senha" required name="password">
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary ">Entrar</button>

              </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="mt-3">
                <a href="#" class="forgot-password">Esqueceu sua senha?</a>
            </div>
        </form>
    </div>
</div>

{% endblock login %}


  